@import "tailwindcss";


@theme{
    --color-primary:#00000;
    --color-secondary:#e7e9ea;
    --color-tw-blue:#1d9bf0;
    --color-tw-gray:#2d3336;
 
}

@layer components{
    .input{
  @apply bg-secondary text-black  rounded mt-1 p-2 outline-none shadow-lg focus:shadow-[gray] w-full;
    }
}